name: Deploy

on:
  push:
    branches:
      - main
  repository_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: yarn install

    - name: Build project
      run: yarn build
      env:
        NODE_ENV: production
        NODE_OPTIONS: --openssl-legacy-provider

    - name: Debug - List build output
      run: ls -la out/

    - name: Publish
      uses: cloudflare/wrangler-action@1.3.0
      continue-on-error: true
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        secrets: |
          SECRET_RESEND_API_KEY
          SECRET_EMAIL_TO
        environment: production
      env:
        CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        SECRET_RESEND_API_KEY: ${{ secrets.SECRET_RESEND_API_KEY }}
        SECRET_EMAIL_TO: ${{ secrets.SECRET_EMAIL_TO }}
